Wavecell/Wavecell/Service References/WavecellDL/getDLRApi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://wavecell.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://wavecell.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://wavecell.com/">
      <s:element name="SMSDLR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SubAccountId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UMID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMSDLRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMSDLRResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SMSDLRSoapIn">
    <wsdl:part name="parameters" element="tns:SMSDLR" />
  </wsdl:message>
  <wsdl:message name="SMSDLRSoapOut">
    <wsdl:part name="parameters" element="tns:SMSDLRResponse" />
  </wsdl:message>
  <wsdl:message name="SMSDLRHttpGetIn">
    <wsdl:part name="AccountId" type="s:string" />
    <wsdl:part name="SubAccountId" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="UMID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SMSDLRHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SMSDLRHttpPostIn">
    <wsdl:part name="AccountId" type="s:string" />
    <wsdl:part name="SubAccountId" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="UMID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SMSDLRHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="GetDLRApiSoap">
    <wsdl:operation name="SMSDLR">
      <wsdl:input message="tns:SMSDLRSoapIn" />
      <wsdl:output message="tns:SMSDLRSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GetDLRApiHttpGet">
    <wsdl:operation name="SMSDLR">
      <wsdl:input message="tns:SMSDLRHttpGetIn" />
      <wsdl:output message="tns:SMSDLRHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GetDLRApiHttpPost">
    <wsdl:operation name="SMSDLR">
      <wsdl:input message="tns:SMSDLRHttpPostIn" />
      <wsdl:output message="tns:SMSDLRHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetDLRApiSoap" type="tns:GetDLRApiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SMSDLR">
      <soap:operation soapAction="http://wavecell.com/SMSDLR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetDLRApiSoap12" type="tns:GetDLRApiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SMSDLR">
      <soap12:operation soapAction="http://wavecell.com/SMSDLR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetDLRApiHttpGet" type="tns:GetDLRApiHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SMSDLR">
      <http:operation location="/SMSDLR" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetDLRApiHttpPost" type="tns:GetDLRApiHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SMSDLR">
      <http:operation location="/SMSDLR" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetDLRApi">
    <wsdl:port name="GetDLRApiSoap" binding="tns:GetDLRApiSoap">
      <soap:address location="http://wms1.wavecell.com/getDLRApi.asmx" />
    </wsdl:port>
    <wsdl:port name="GetDLRApiSoap12" binding="tns:GetDLRApiSoap12">
      <soap12:address location="http://wms1.wavecell.com/getDLRApi.asmx" />
    </wsdl:port>
    <wsdl:port name="GetDLRApiHttpGet" binding="tns:GetDLRApiHttpGet">
      <http:address location="http://wms1.wavecell.com/getDLRApi.asmx" />
    </wsdl:port>
    <wsdl:port name="GetDLRApiHttpPost" binding="tns:GetDLRApiHttpPost">
      <http:address location="http://wms1.wavecell.com/getDLRApi.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>